body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: darkgray;
}

p {
	font-size: 18px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
	color: black;
	outline: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', 'Montserrat', 'Helvetica Neue', Helvetica, Arial,
		sans-serif;
	text-transform: none;
	font-weight: 700;
}

.name {
	font-family: Montserrat;
	text-transform: uppercase;
	font-size: 5em;
	font-weight: bolder;
}

@media screen and (max-width: 780px) {
	.name {
		font-size: 3.8em;
	}
}

.titles {
	font-family: Lato;
	font-weight: bold;
}

.hook {
	font-family: Lato;
	font-weight: bold;
	font-size: 28px;
}

.imgy {
	max-width: 100%;
	padding: 10%;
}

.img-small {
	display: block;
	max-width: 90%;
	margin: auto;
}

.heading {
	padding: 2%;
}
