img {
    padding: 10px;
    margin: 10px;
}

body {
    background-color: #ffffff;
}

.vision {
    color: #000000;
    font-size: 16px;
    margin: 0px;
}

.visioner {
    color: #ce864c;
    font-size: 13px;
    margin: 0px;
}
